				#items{padding-left: 9%;}
				#items .item { background: url(http://trainingtr.com/Images/item-bottom-bg.png) no-repeat bottom left; padding-bottom: 28px; float: left; width: 208px; position: relative; margin-right: 17px;padding-top:25px; }
					
					
					
					#items .item-top { background: url(http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/images/item-top.png) no-repeat; height: 13px; }
					#items .item-content { background: url(http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/images/item-bg.png) repeat-y; min-height: 100px; padding: 7px 20px 2px; }
						.item-content h4 { font-size: 16px; padding-bottom: 0px; }
						.item-content h4 a:hover { text-decoration: none; }
						.item-content #baslik {font-style:bold;color:red;}
					#items .item a.more { position: absolute; bottom: -7px; left: 70px; }

						.product span.tag, #items .item-content span.tag { color: #ede7c2; font-size: 22px; position: absolute; left: -15px; display: block; background: url(http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/images/scroller-item-tag.png) no-repeat bottom right; padding-right: 11px; text-shadow: 1px 1px 1px #131212; }
						#items .item-content span.tag { top: 18px; }
							
					.product span.tag > span, #items .item-content span.tag > span { display: block; background: url(http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/images/scroller-item-tag.png) no-repeat; padding-left: 9px; height:36px; padding-top: 9px; }

			a.more { float: right; display: block; background: url(http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/images/more.png) no-repeat bottom right; padding-right: 10px; font-family: Arial, Verdana, sans-serif; color: #4e4e4d; font-size: 11px; text-shadow: 1px 1px 1px #ffffff; }
				a.more:hover { color: #313130; text-decoration: none; }
					a.more span { display: block; background: url(http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/images/more.png) no-repeat top left; padding-left: 9px; height: 28px; line-height: 25px; }